// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// Random background selection
startupmenu

// Fix demo playback interpolation issues
demo_interplimit 9999999
