// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds
sv_unlockedchapters 99 //Random background selection
startupmenu
 //THESE FIX DEMO PLAYBACK BUG, DO NOT REMOVE
sv_client_min_interp_ratio 0
sv_client_max_interp_ratio 0
cl_interp 0
cl_interp_ratio 0
