version: 2
jobs:

  build_linux:
    docker:
      - image: gocnak/steam-runtime-i386:momentum
      
    working_directory: ~/mom_build
    resource_class: medium
    environment:
      USING_DOCKER: h*ckyeahIam
    
    steps:
      - checkout
            
      # Ready, willing, and fully enabled
      - run:
          name: Creating game project files
          command: |
            cd mp/src
            ./creategameprojects
      
      - run: 
          name: Building the game
          command: |
            cd ~/mom_build/mp/src
            make -f games.mak
            
      - run:
          name: Cleaning up debug/etc files
          command: |
            cd ~/mom_build/mp/game
            rm -rf bin/*.dbg
            rm -rf momentum/bin/*.dbg
            rm -rf momentum/bin/*.dll
        
      - run:
          name: Zipping up artifacts
          command: |
            cd ~/mom_build/mp/game
            zip -r binaries_linux.zip bin momentum/bin
            
      - store_artifacts:
          path: ~/mom_build/mp/game/binaries_linux.zip
  
  build_mac:
    macos:
      xcode: "9.4.1"

    working_directory: ~/mom_build

    steps:
      - checkout

      - run:
          name: Create game project files
          command: |
            cd mp/src
            ./creategameprojects
       
      - run: 
          name: Building the game
          command: |
            cd ~/mom_build/mp/src
            xcodebuild -quiet -project games.xcodeproj -configuration Release -arch i386 -xcconfig devtools/release.xcconfig
      
      - run:
          name: Cleaning up files...
          command: |
            cd ~/mom_build/mp/game/momentum/bin
            rm -rf *.dll
      
      - run:
          name: Zipping up artifacts
          command: |
            cd ~/mom_build/mp/game
            zip -r binaries_mac.zip bin momentum/bin
            
      - store_artifacts:
          path: ~/mom_build/mp/game/binaries_mac.zip

workflows:
  version: 2
  build_game:
    jobs:
      #- build_mac
      - build_linux
